<ul class="alert alert-danger" *ngIf="errs?.length > 0">
  <li *ngFor="let e of errs">
    {{ e }}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">Add User</div>
  <div class="card-body">
    <form #userForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">Username</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #username="ngModel" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="roles" class="col-form-label col-sm-2">Roles</label>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-select [formControl]="rolesControl" multiple [(ngModel)]="user.roles" required>
              <mat-select-trigger>
                <span *ngIf="rolesControl.value && rolesControl.value[0] != undefined">{{rolesControl.value[0].name | slice : 5 | titlecase}}</span>
                <span *ngIf="rolesControl.value?.length > 1" class="example-additional-selection">
                  (+{{rolesControl.value.length - 1}} {{rolesControl.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let role of roles" [value]="role">{{role.name | slice : 5 | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' [disabled]="!userForm.form.valid" *ngIf="!user.id else elseBlock">
            Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!userForm.form.valid">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
