<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">List of users</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/users/form']">
        Add User
      </button>
    </div>
    <div *ngIf="users?.length==0 || users==undefined" class="alert alert-info">
      ¡No users found!
    </div>
    <table matSort class="table table-striped" (matSortChange)="sortData($event)" *ngIf="users?.length>0">
      <tr>
        <th mat-sort-header="id">Id</th>
        <th mat-sort-header="name">Name</th>
        <th>Username</th>
        <th>Details</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
      </tr>
      <tr *ngFor="let user of sortedData">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username }}</td>
        <th>
          <button type="button" (click)="showRoles(user.roles)" name="seeRoles" class="btn btn-primary btn-sm">See Roles</button>
        </th>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="edit" [routerLink]="['/users/form', user.id]" class="btn btn-primary btn-sm">Edit</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="delete" (click)="delete(user)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
