<div class="card border-primary text-center" style="width: 25rem; margin: 0 auto; float: none; margin-bottom: 10px;">
  <div class="card-header">{{title}}</div>
  <form class="card-body" method="post">
    <div class="form-group">
      <input [(ngModel)]="user.username" type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input (click)="login()" type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
    </div>
  </form>
</div>
